<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css styles/index.css -->
  <link rel="stylesheet" type="text/css" href="styles/compiled-bootstrap/bootstrap.css"/>
  <!-- endbuild -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script data-main="modules/main"
          src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js"></script>
</head>
<body>
<div ng-controller="HomeController as hc">
  {{hc.message}}
  <br/>
  {{message}}
</div>
<script src="ie10-fix.js"></script>
</body>
</html>