<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script data-main="modules/signin-main"
          src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js"></script>
</head>
<body>
<div ng-controller="HomeController as hc">
  {{hc.message}}
  <br/>
  {{message}}
</div>
<script src="ie10-fix.js"></script>
</body>
</html>